@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    scroll-behavior: smooth;
    background-color: rgb(40, 73, 218);
    color: rgb(192, 112, 20);
  }

a {
    color: rgb(192, 112, 20)
}

/* width */
::-webkit-scrollbar {
    width: 3px;


  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
    border-radius: 40%;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  rgb(192, 112, 20);
    border-radius: 0.5em;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:white; 
  }
header > div {
    display: inline !important;
    right: 0;
    float: right;
    vertical-align: bottom;
    bottom: 0%;
    position: absolute;
}

header > div > a {
    padding-left: 1em;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    right: 20%;
    text-decoration: none;
}

header > a {
    float: left;
    font-size: 32px;
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-decoration: none;
}

header {
    margin: 0 auto;
    display: inline-block !important;
    position: fixed;
    width: 50%;
    z-index: 1;
    padding-left: 20%;
    padding-right: 10%;
}

header.hide {
    visibility: hidden;
}

header > a:hover, header > div > a:hover {
    color: white;
}

.core {
    padding-left: 20%;
    padding-right: 20%;
}

body {
    padding-top: 1%;
    margin: 0;
}

.land {
    background-image: url("img/land.jpg");
    height: 80%;
    top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.land > div {
    position:absolute; 
    width: auto;
    height: auto;
    bottom:10%;
}

.button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    color: rgb(192, 112, 20);
    background-color: rgb(40, 73, 218);
    border-radius: 12px;
}

.button:hover {
    color: rgb(40, 73, 218);
    background-color: rgb(192, 112, 20);
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    text-align: center;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    text-align: center;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    text-align: center;
}

footer {
    background-color: rgb(34, 42, 68);
    bottom: 0;
    width: 100%;
    margin: 0 px;
    position: relative;
    overflow: hidden
}

.column {
    width:33%;
    float:left;
    }

.pic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    text-align: center;
}

footer {
    background-color: rgb(34, 42, 68);
    bottom: 0;
    width: 100%;
    margin: 0 px;
    position: relative;
    overflow: hidden
}
